body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px;  */
  /* 1 rem= 10px*/ /* let be more specific - browser default size is 16px if font-size=100%, so for 10px how much perctage*/
  /* 16px = 100% , 1px=100%/16 ,10px= (10/16)*100=62.5%*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
